


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Farsan&family=Honk&family=Jersey+10+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Honk&family=Jersey+10+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Farsan&family=Honk&family=Jersey+10+Charted&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Big+Shoulders+Text:wght@100..900&family=Farsan&family=Honk&family=Jersey+10+Charted&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Big+Shoulders+Text:wght@100..900&family=Farsan&family=Honk&family=Jersey+10+Charted&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Big+Shoulders+Text:wght@100..900&family=Farsan&family=Honk&family=Jersey+10+Charted&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Seymour+One&display=swap');



:root {
    --white:white;
    --whitesmoke:whitesmoke;
    --black:black;
    --green:green;
    --red:red;
    --lightgreen:lightgreen;
    --darkGreen:darkgreen;
    --slateGrey:slategrey;
    --lightgrey:lightgrey;
    --darkGrey:darkgrey;
    --fontSize: 1rem;
    --dodgerBlue:dodgerblue;
}


body {
    margin:0;
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
}






/*--------------------------------------------NAVBAR CONTAINER--------------------------------------------------------------- */




.Navbar-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(white, green);
    width: 100%;
    height: 70px;
    margin:0;
    transition: 1.3s linear;
}




.Navbar-Container .content {
    color:var(--red);
    font-size: 1.8vw
}


.nav-pizza-icon {
    font-size: 1.8rem;
    color:var(--red);
   
}




.Navbar-Container .content-two a {
    color:var(--slateGrey);
    font-weight: bold;
    text-decoration: none;
    margin:0px 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.9rem, 2vw, 1rem)
}

.Navbar-Container .content-two a.home,
.Navbar-Container .content-two a.home:hover
 {
    color:var(--white);
    cursor:auto
}

.Navbar-Container .content-two a:hover:not(.link-careers) {
    color:var(--white);
    cursor: pointer;
}


.Navbar-Container .content-two a.menu {
    color:var(--white)
}

.Navbar-Container .content-two a:not(.menu) {
    color:var(--slateGrey)
}






/*--------------------------------------------CONTENT--------------------------------------------------------------- */


.The-Main-Container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}


.Content-Header {
    margin-block:40px;

}


.Content-Header h3 {
    font-size: 2rem;
    color:var(--green)

}

.Menu-Content-Page {
    display: flex;
    flex-direction: row;
    gap:110px
}

.The-Main-Container h3 {
    color:var(--green);
    font-size: 1.4rem;
}

.Menu-Content-Page-Two {
    display: flex;
    flex-direction: row;
    gap:110px
}


.Menu-Content-Page-Three {
    display: flex;
    flex-direction: row;
    gap:110px
}


.Menu-Content-Page-Four {
    display: flex;
    flex-direction: row;
    gap:60px
}


.Menu-Content-Page-Five {
    display: flex;
    flex-direction: row;
    gap:60px;
}



.menu-content-five-header {
    margin-block: 60px;
}


.Menu-Content-Page-Six {
    display: flex;
    flex-direction: row;
}

.menu-content-six-header {
    margin-block:60px
}


.Menu-Content-Page-Seven {
    flex: 0 0 300px;
}
















/*--------------------------------------------FOOTER--------------------------------------------------------------- */





.content-footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color:white;
    border-radius:7px
}



.footer-content {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-around

}

.footer-content  div {
    font-size: 1.1rem;
    color:black;
    font-weight: bold;
}


.footer-content-two .footer-text {
    color:green;
    font-weight: bold;
    
}




.footer-content h3 {
    font-family: "Farsan", cursive;
}

.footer-content p {
    font-family: "Big Shoulders Text", sans-serif;
}



.footer-content .instagram-footer {
    color:pink;
    font-weight: bold;
    font-size: 1.3rem;
    
}


.footer-content .facebook-footer {
    color:dodgerblue;
    font-weight: bold;
    font-size: 1.3rem;
    
    
}

.footer-content .youtube-footer {
    color:red;
    font-weight: bold;
    font-size: 1.3rem;
    
}



.content-footer-two {
    position: relative;
    bottom:0px;
    background-color:whitesmoke;
    width: 100%;
    height: 105px;
}

.footer-content-three {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
}












 /*--------------------------------------------MOBILE SCREENS 480px--------------------------------------------------------------- */


    @media screen and (max-width:480px) {

        .Navbar-Container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 12vh;
            font-size: 0.5rem;
        }

        .Navbar-Container .content-two a {
            display: none;
        }

        .Navbar-Container .content-two a.menu {
            display: block;
        }

        .Navbar-Container .nav-pizza-icon {
            display: none;
        }

        .Navbar-Container h3 {
            font-size: 5vw;
        }

        .The-Main-Container .Content-Header h3 {
            font-size: 4vw;
        }

        .Menu-Content-Page div {
            font-size: 3vw;
            gap:30px
        }

        .Menu-Content-Page-Two div {
            font-size: 3vw;
            gap:30px
        }

        .Menu-Content-Page-Three div {
            font-size: 3vw;
            gap:30px
        }

        .Menu-Content-Page-Four div {
            font-size: 3vw;
            gap:30px
        }

        .Menu-Content-Page-Five div {
            font-size: 3vw;
            gap:30px
        }

        .Menu-Content-Page-Six div {
            font-size: 3vw;
            gap:30px;
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items:baseline;
            justify-content: center;
        }

        .footer-content-two  {
            font-weight: normal;
        }

        .footer-content-two p {
            font-size:0.9rem
        }

        .footer-content-three  {
            font-size:0.9rem
        }





    }